# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
LANDING_DB_NAME=sql_adventure_db
EVALUATION_DB_NAME=sql_adventure_evaluator

# pgAdmin Configuration
PGADMIN_EMAIL=admin@sql-adventure.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=8080

MODEL_NAME=gpt-4o-mini
OPENAI_API_KEY=your-openai-api-key-here
